*, *:before, *:after {
  box-sizing: border-box;
}

html,
body,
.app-container {
  height: 100%;
  margin: 0;
}

:root {
  --football-blue: #0E4D7A;
  --football-red: #DB1F2D;
}

@import './LandingPage/_landingpage.css';
@import './Football/_competition.css';